body{
    background-color: hsl(120, 100%, 30%);
}

.boxHolder {
    position: fixed;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: hsl(39, 100%, 50%);
    border: 1px solid black;
    width:120px;
    height:120px;
    display: table-cell;
    box-shadow: 0px -5px 7000px black, -0px 5px 7000px black;
}

.middleBox{
    background-color: hsl(55, 100%, 30%);
}

.pl1{
    background-color: red;
    width:150px;
    height:150px;
    border: 5px solid black;
    position:fixed;
    left:50px;
    top:295px;
}

.pl2{
    background-color: blue;
    width:150px;
    height:150px;
    border: 5px solid black;
    position:fixed;
    right:45px;
    top:295px;
}

