body{
    background-color: hsl(120, 100%, 30%);
}

.box{
    background-color: hsl(39, 100%, 50%);
    border: 1px solid black;
    width:120px;
    height:120px;
    position:relative;
    display: flex;
    top:301px;
    left: 230px;
    box-shadow: 0px -5px 7000px black, 0px 5px 7000px black;
}

.middleBox{
    background-color: hsl(55, 100%, 30%);
}

.pl1{
    background-color: red;
    width:150px;
    height:150px;
    border: 5px solid black;
    position:fixed;
    left:100px;
    top:295px;
}

.pl2{
    background-color: blue;
    width:150px;
    height:150px;
    border: 5px solid black;
    position:fixed;
    right:85px;
    top:295px;
}

.card{
    height:120px;
    width:120px;
    margin-left: 15px;
    border-radius: 25px;
    border: none;
    background-color: hsl(180, 100%, 80%);
    position: relative;
    left:550px;
    top:550px;
}
.card:hover{
    border: 1px solid black;
    background-color: hsl(212, 100%, 70%);;
}